<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:loyout="http://www.ultraq.net.nz/thymeleaf/loyout">
 <head th:replace="template::html_head">
 <meta charset="utf-8"/>
 </head>
 
<body>
 	<div th:replace="template::menu" >
 	</div>
		  <div class="container_pequeno">
			  		
		<h5 class="center"> Extrato por Tipo de  Pagamento</h5>
			<div th:each ="m:${msg}" class="container alert">
				  <span class="red-text text-darken-2" th:text="${m}"></span>
			</div>
			<br>
			 <br>
			     <form th:action="@{/pesqPagtoTipoAssociado}"  method="post">
			        <div class="input-field col s2">
				    	      <p>Período:</p> 
				    	      <input type="text" name="periodoPesquisa">
			    	 </div> 
				    	 <div class="input-field col s6">
			     	    <select th:name="@{nomePesquisa}">
			     	     		<option value="">Selecione Tipo de Associado...</option>
				    		    <option  th:each="tipo:${listaAssoc}"  th:value="${tipo}"  th:text="${tipo}"></option>
				           </select>
	     	        </div>
				  <button type="submit" class="waves-effect waves-light btn blue lighten-2"><i class="material-icons right">search</i>Buscar</button> 
			    </form>
			   </div>
			  <br>
			 <br>
	       <div class="roow center">
			<div><h5> Período: <span  th:text="${periodo}"> </span></h5></div>
			<div><h5> Tipo de Pagamento: <span  th:text="${tipoPagto}"> </span></h5></div>
			<br>
			<br>
			</div>
		<div class="container">
		  	<table class="container responsive-table striped">
			 <thead> 
			   <tr> 
			    <th> Codigo </th>
				<th> Associado</th>
			    <th> Convenio</th>
			    <th> Valor Total</th>
			    <th> Valor da Parcela </th>
			    <th> Qtda Parcelas</th>
			    <th> Data da Inclusão</th>
			
			   </tr>
			 </thead>
			 <tbody>		 
			  <tr th:each="movimento:${lista_lancamentos}">
					<td> <span th:text="${movimento.codMovimento}"> </span></td>
					<td> <span th:text="${movimento.associado.nomeCompleto}"> </span></td>
					<td> <span th:text="${movimento.lancamento.convenio.razaoSocial}"> </span></td>
					<td> <span th:text="${#numbers.formatCurrency(movimento.valorTotal)}"></span></td>
					<td> <span th:text="${#numbers.formatCurrency(movimento.valorParcela)}"></span></td>
					<td> <span th:text="${movimento.quantidade}"></span></td>
					<td> <span th:text="${#dates.format(movimento.dataInclusao, 'dd/MM/yyyy')}"></span></td>
			 </tr>  
			</tbody>
			</table>
			</div>
	<div th:replace="template::footer"> </div>
	
</body>  
</html>        

