<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <head th:replace="template::html_head">
 <meta charset="utf-8"/>
 </head>
 
<body>
 	<div th:replace="template::menu" ></div>
 	<div class="container_pequeno center">
	 <p></p>
   </div>
		<div class="container">
			 	 <h5 > Cadastro de Dependente</h5>
			     <br>
			     <div th:each ="m:${msg}" class="container alert">
					  <span class="red-text text-darken-2" th:text="${m}"></span>
		   		 </div>
			    <br>
		      <p class="center"> Código do Associado:<span th:text="*{associado.codAssociado}"></span></p>
		
			    <p class="center">  Matricula:  <span th:text="${associado.matricula}"></span></p>
				<p class="center">  Nome: <span th:text="${associado.nomeCompleto}"></span></p>				
		
			   <form th:action="@{/salvarDependente/{idAssociado}(idAssociado=${associado.codAssociado})}" class="container" method="post" th:object="${dependente}">
				   <input type="hidden" th:field="*{codDependente}"/>
					<div class="row">
				   
				    <div class="input-field col s6" th:classappend="${#fields.hasErrors('nomeCompleto')} ? has-error">					
				 	<input id="nome" type="text"  th:field="*{nomeCompleto}"/>
				      <label for="nome">Nome</label>	
				    
				    </div>
				    <div class="input-field col s3"  th:classappend="${#fields.hasErrors('cpf')} ? has-error">
				 		<input id="cpf" type="text" maxlength="14" th:field="*{cpf}" th:onKeyPress="MascaraCPF(cpf)" />
				 	  	  <label for="cpf">CPF</label>	
				    
				 	 </div>
				     <div class="input-field col s6">
					        Vinculo:
						    <select name="selec_vinculo" th:field="*{vinculo.codVinculo}">
							  <option th:each="vin:${lista_vinculos}" th:value="${vin.codVinculo}" th:text="${vin.descricao}"></option>
			              </select>
			           </div>
				
	               	 <div class="input-field col s3">
						  Data de Nascimento: <input type="date" th:field="*{dataNascimento}" />
					</div>
					
	    		         
				  </div>
				  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		    
				  <button type="submit" class="waves-effect waves-light btn blue lighten-2"><i class="material-icons right">done</i> Salvar</button>
				    <button type="reset"  class="modal-close waves-effect waves-light btn red lighten-2"><i class="material-icons right">close</i> Cancelar</button>
			
			  </form>
			  <br>
			  
		   </div>
   
  <div class="container">	
    <div class="container_pequeno row center">
        <a class="waves-effect waves-light btn blue" th:href="@{/cadastrarAssociado}"><i class="material-icons left">arrow_back</i>Retorno para Associados</a>
	</div>	
	
  
	   <h5 class="center">Listagem de Dependentes</h5>
	   
	     <div th:each ="m:${msg}" class="container alert">
			  <span class="red-text text-darken-2" th:text="${m}"></span>
   		 </div>
	   
	   <br>
	   <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"> </div>
	   <br>
	   	<table class="container responsive-table striped pagination">
		 <thead class="blue lighten-5"> 
			   <tr> 
			    <th> Nome </th>
			    <th> CPF </th>
			    <th> Vinculo </th>
			    <th> Deletar </th>
			    <th> Editar </th>
			   </tr>
		</thead>
		 <tbody>		 
		<tr th:each="dependente:${lista_dependentes}">
		    <td> <span th:text="${dependente.nomeCompleto}"></span></td>
			<td> <span th:text="${dependente.cpf}"></span></td>
			<td> <span th:text="${dependente.vinculo.descricao}"></span></td>
		    <td>  <a class="waves-effect waves-light modal-trigger" data-toggle="modal" id="modalDelete"
						 th:attr="href='#modal-dependente'+*{dependente.codDependente}"><i class="material-icons left">delete</i></a>
						 
						  <div th:id="'modal-dependente'+*{dependente.codDependente}"
						   class="modal">
							  <div class="modal-content">
							    <h5>Excluir Dependente
							    
							     </h5>
							    
							    <p>Confirma exclusão do dependente? </p>
							     <span th:text="${dependente.nomeCompleto}"> </span>
							  
							  </div>
							  <div class="modal-footer">
							    <a href="#!" class="modal-close waves-effect  btn red">Cancelar</a>
							    <a th:href="@{/deletarDependente/{idDependente}(idDependente=${dependente.codDependente})}" class="modal-close waves-effect blue btn">Confirmar</a>
							  </div>
					     
							</div>
				
		    </td>
		    <td> <a  th:href="@{/editarDependente/{idDependente}(idDependente=${dependente.codDependente})}"><i class="material-icons left">edit</i></a></td>
		   </tr>  
		 </tbody>
		</table>
	</div>	
	<div th:replace="template::footer"> </div>
    <script>
          $(document).ready(function () {
        	  const elem = document.getElementById('modal-editdependente');
        	  const instance = M.Modal.init(elem, {dismissible: false});
        	 	   $('form input').each(
        				    function(index){  
        				        var input = $(this);
        				        if (( input.attr('name')=='codDependente') & (input.val()!='')) {
        				        	  instance.open();
        				        	  $('.modal-editdependente').modal();
        				        }
        				    }
        				);
        	    
			});
          </script>
   
</body>  
</html>        


